
* {
    font-family: font-family: 'Noto Sans KR', sans-serif;
}

.mytitle {
    max-width: 500px;
    width: 95%;
    height: 170px;
    margin: auto;

    /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');*/
    /*background-position: center;*/
    /*background-size: cover;*/

    color: balck;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
!important;
}


.small_box {
    background-color: #fdfdfd;
    width: 400px;
    height: 550px;
    color: black;

    border: 2px black solid;
    border-radius: 5px;

    margin-top: 0px;
}

.big_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 20px auto 50px auto;
}

.big_box > div {
    margin-right: 50px;
}

.frontend {
    width: 115px;
    font-size: 30px;
    margin: 50px auto 0 auto;
}

.content {
    background-color: white;
    width: 140px;
    height: 140px;
    font-size: 30px;


    border: black solid;
    margin: 50px auto 0 auto;

    border-radius: 5px;

}

.content > p {
    text-align: center;
    font-size: 15px;
}

.contents {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.content > img {
    display: block;
    margin: auto;
}

.content:hover {
    border: 4px solid black;
}
